.Navigation{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: '. . . . . . . . . .'
                         '. bk . . . . . . menu .'
                         '. title title title title . . . . .' ;

    &__BackArrow{
       grid-area: bk;
    }

    &__Menu{
        grid-area: menu;
    }

    &__Title{
        grid-area: title;
        font-size: 5rem;
        margin: 0;
    }
    
}

