.Evolution {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: visible;
    height: 40vh;

    &__EvolutionStatus {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 90%;
    }

    &__Trigger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}