.PokemonDetails {
  height: 100vh;

  &__backButton {
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 60px;
    left: 28px;
    z-index: 1;
  }

  &__basics {
    display: flex;
    padding: 104px 26px 0 26px;
    justify-content: space-between;
    flex-direction: column;
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &--normal {
    background: #aaa67f;
  }
  &--fighting {
    background: #c12239;
  }
  &--flying {
    background: #a890f0;
  }
  &--poison {
    background: #a040a0;
  }
  &--ground {
    background: #e0c068;
  }
  &--rock {
    background: #b8a038;
  }
  &--bug {
    background: #a8b820;
  }
  &--ghost {
    background: #705898;
  }
  &--steel {
    background: #b8b8d0;
  }
  &--fire {
    background: #fb6c6c;
  }
  &--water {
    background: #7ac7ff;
  }
  &--grass {
    background: #48d0b0;
  }
  &--electric {
    background: #ffce4b;
  }
  &--psychic {
    background: #f85888;
  }
  &--ice {
    background: #98d8d8;
  }
  &--dragon {
    background: #7038f8;
  }
  &--dark {
    background: #705848;
  }
  &--fairy {
    background: #ee99ac;
  }
}

.PokemonType__elements {
  display: flex;
  gap: 7px;
}

.PokemonType__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PokemonImage__wrapper {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LikeHeart__wrapper {
  position: absolute;
  top: 60px;
  right: 26px;
}
