.PokemonDetails {
  height: 100vh;
  background: #48d0b0;

  &__backButton {
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 60px;
    left: 28px;
    z-index: 1;
  }

  &__basics {
    display: flex;
    padding: 104px 26px 0 26px;
    justify-content: space-between;
    flex-direction: column;
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }
}

.PokemonType__elements {
  display: flex;
  gap: 7px;
}

.PokemonType__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PokemonImage__wrapper {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LikeHeart__wrapper {
  position: absolute;
  top: 60px;
  right: 26px;
}
