.Title {
  font-size: 30px;
  line-height: 42px;
  text-align: Left;
  vertical-align: Center;
  font-weight: 900;
  margin: 0;

  &--dark-gray {
    color: rgba(48, 57, 67, 1);
  }

  &--white {
    color: rgba(255, 255, 255, 1);
  }
}
