.Evolution{
    height: 100%;
    position: relative;

    &__Pokeball{
        height: 100%;
        position: absolute;
    }

    &__PokemonImage{
        height: 80px;
        width: 80px;
        position: absolute;
    }
}