.HomeScreen {
  background-image: url("/images/Subtract.png");
  background-repeat: no-repeat;
  background-size: 190px;
  background-position: right top;
  height: 100vh;
  padding: 117px 26px 0px 26px;
}
