.NewsCard {
  display: flex;
  gap: 27px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e6e6e6;

  &__image {
    width: 120px;
    height: 67px;
    border-radius: 14px;
  }
}
