.PokedexScreen {
  width: 95vw;
  height: 100vh;
  padding: 0px 26px 0px 26px;
  display: flex;
  flex-direction: column;
  gap: 42px;
  max-width: 1450px;
  margin: 0 auto;

  &__infiniteScroll {
    overflow: hidden;
    &::-webkit-scrollbar {
      display: none;
      width: 0px;
      background: transparent;
    }
  }

  &.--active {
    overflow-y: clip;
  }

  .PokemonList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
    overflow: hidden;
  }

  &__Search {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7em;
    background-color: white;

    &Bar {
      width: 90%;
    }
  }
}
