.PokedexScreen {
    width: 95vw;
    height: 100vh;
    padding: 0px 26px 0px 26px;
    display: flex;
    flex-direction: column;
    gap: 42px;

    &.--active {
        overflow-y: clip;
    }

    .PokemonList {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
        flex-wrap: wrap;
    }

    &__Search{
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: white;

        &Bar{
            width: 90%;
        }
    }
}